{% extends "base_dash.html" %}
{% load static %}
{% block header %}
    <script src="{% static 'js/Rutina.js' %}"></script>

    <script>disableAll();</script>
    <script src="{% static 'js/bootbox.min.js' %}"></script>
    <link href="{% static 'css/bootstrap-toggle.min.css' %}" rel="stylesheet">
    <script src="{% static 'js/bootstrap-toggle.min.js' %}"></script>
{% endblock %}
{% block content %}
    <div class="x_panel">
        <div id="mensajes-ajax">
            {% if messages %}
                {% for message in messages %}
                    {% if message.tags %}
                        <div class="alert alert-{{ message.tags }} alert-dismissable">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    {% endif %} <strong>{{ message }}</strong>
                </div>
                {% endfor %}

            {% endif %}
        </div>
        <div class="x_title">
            <h2>Ver / Editar custodio
                <small>(custodio)</small>
            </h2>
            <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li><a class="close-link"><i class="fa fa-close"></i></a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="checkbox">
            <input id="ckEdit" onchange="toggleClick('#ckEdit')" type="checkbox" data-toggle="toggle" data-on="Editar"
                   data-off="No editar" data-size="small">
        </div>
        <div class="x_content">
            <span class="section">Pasajero</span>
         <p>Buscar pasajero por documento o agregarlo</p>
                    <br>
        <div class="form-group">
            <div class="col-md-6 col-md-offset-5">
                <button id="btnLector" type="button" onclick="lectorCodigos();" class="btn btn-dark"><span class="fa fa-barcode fa-1x"></span> Lector</button>
                <button id="btnLibera" type="button" onclick="liberarCampos();" class="btn btn-primary"> Liberar campos</button>
            </div>
        </div>
        <br><br>
                    <form id="pasajeroInfo" name="pasajeroInfo" class="form-horizontal form-label-left input_mask">

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Documento *</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input type="text" class="form-control" placeholder="Rut o Pasaporte" id="txtDocumento" value="{{ custodio.pasajero.documento }}" name="txtDocumento">
                        </div>
                      </div>

                       <div class="item form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="cboTipoDcto">Tipo de Documento <span
                            class="required">*</span>
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <select id="cboTipoDcto" class="form-control">
                            {% for tipoDcto in tiposDocumentos %}
                                {% if custodio.pasajero.tipo_documento.id == tipoDcto.id %}
                                <option selected value="{{ tipoDcto.id }}">{{ tipoDcto.nombre }}</option>
                                {% else %}
                                <option value="{{ tipoDcto.id }}">{{ tipoDcto.nombre }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </div>

                             <div class="item form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="cboSexo">Sexo <span
                            class="required">*</span>
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <select id="cboSexo" class="form-control">
                            {% for sexo in sexos %}
                                {% if custodio.pasajero.sexo.id == sexo.id %}
                                    <option selected value="{{ sexo.id }}">{{ sexo.genero }}</option>
                                    {% else %}
                                <option selected value="{{ sexo.id }}">{{ sexo.genero }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </div>


                      <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                        <input type="text" name="txtNombres" id="txtNombres" class="form-control has-feedback-left" value="{{ custodio.pasajero.nombres }}" placeholder="Nombres">
                        <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                      </div>

                      <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                        <input type="text" class="form-control"  name="txtApellidos" id="txtApellidos" value="{{ custodio.pasajero.apellidos }}" placeholder="Apellidos">
                        <span class="fa fa-user form-control-feedback right" aria-hidden="true"></span>
                      </div>

                      <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                        <input type="email" class="form-control has-feedback-left" name="txtEmail" id="txtEmail" value="{{ custodio.pasajero.email }}" placeholder="Email">
                        <span class="fa fa-envelope form-control-feedback left" aria-hidden="true"></span>
                      </div>

                      <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                        <input type="text" class="form-control" name="txtTelefono" id="txtTelefono" value="{{ custodio.pasajero.telefono }}" placeholder="Telefono">
                        <span class="fa fa-phone form-control-feedback right" aria-hidden="true"></span>
                      </div>

                    </form>
                <br>
             <div class="ln_solid"></div>
            <form class="form-horizontal form-label-left" id="custodiaInfo">

                <p>

                </p>
                <span class="section">Informacion de Custodia</span>
                {% csrf_token %}
            <input type="hidden" id="idPasajero" value="{{ custodio.pasajero.id }}" name="idPasajero">

                <div class="item form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="txtFechaIn">Fecha Ingreso <span
                            class="required">*</span>
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <input type="text" id="txtFechaIn" name="txtFechaIn"
                               value="{{ custodio.fecha_ingreso|date:"%d/%m/%Y %H:%M"}}" required="required"
                               class="form-control col-md-7 col-xs-12">
                    </div>
                </div>
                <div class="item form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="txtComentario">Comentario <span
                            class="required"></span>
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <textarea id="txtComentario" name="textarea"
                                  class="form-control col-md-7 col-xs-12">{{ custodio.comentario }}</textarea>
                    </div>
                </div>
                <input type="hidden" name="idCustodio" id="idCustodio" value="{{ custodio.id }}">

                <div class="item form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="cboTipo">Tipo Custodia <span
                            class="required">*</span>
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <select id="cboTipo" class="form-control">
                            {% for tipo in tiposCustodia %}
                                {% if tipo.id == custodio.custodia_tipo_id.id %}
                                    <option selected value="{{ tipo.id }}">{{ tipo.nombre }}</option>
                                {% else %}
                                    <option value="{{ tipo.id }}">{{ tipo.nombre }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <br>
                <div class="item form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="extravio">Extraviado <span
                            class="required"></span>
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <input data-toggle="toggle" data-on="Si" data-off="No" data-size="small" {% if custodio.extravio == 1 %} {{ 'checked' }} {% endif %} id="extravio" name="extravio"
                                                                                           type="checkbox" class="">
                    </div>
                </div>
                <div class="item form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="entregado">Entregado <span
                            class="required"></span>
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <input  data-toggle="toggle" data-on="Si" data-off="No" data-size="small" {% if custodio.entregado == 1 %} {{ 'checked' }} {% endif %} id="entregado" name="entregado"
                                                                                           type="checkbox" class="">
                    </div>
                </div>
            </form>

            <span class="section">Agregar Equipaje</span>


            <div class="equipajes" id="equipajes">
                {% for equipaje in equipajesCustodio %}

                    <form class="form-horizontal form-label-left" id="equipajesForm">
                        <div class="col-md-4 col-sm-6 col-xs-12 form-group ">
                            <input id="idEquipaje" name="idEquipaje" type="hidden" value="{{ equipaje.id }}">
                            <label for="tipoEquipaje">Tipo</label>
                            <select disabled name="tipoEquipaje" id="tipoEquipaje" class="form-control">
                                {% for tequipaje in tiposEquipaje %}
                                    {% if tequipaje.id == equipaje.equipaje_tipo_id.id %}
                                        <option selected value="{{ tequipaje.id }}">{{ tequipaje.nombre }}
                                            - {{ tequipaje.tamano }}</option>
                                    {% else %}
                                        <option selected value="{{ tequipaje.id }}">{{ tequipaje.nombre }}
                                            - {{ tequipaje.tamano }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>

                        <div class="col-md-2 col-sm-6 col-xs-12 form-group">
                            <label for="color">Color *</label>
                            <input disabled type="text" value="{{ equipaje.color }}" class="form-control" id="color"
                                   placeholder="">
                        </div>

                        <div class="col-md-2 col-sm-6 col-xs-12 form-group ">
                            <label for="zonaEquipaje">Zona</label>
                            <select disabled id="zonaEquipaje" class="form-control">
                                {% for zona in zonasEquipaje %}
                                    {% if zona.id == equipaje.zona_id.id %}
                                        <option selected value="{{ zona.id }}">{{ zona.zona_nombre }}</option>
                                    {% else %}
                                        <option value="{{ zona.id }}">{{ zona.zona_nombre }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>

                        <div class="col-md-4 col-sm-6 col-xs-12 form-group">
                            <label for="comantario">Comentario</label>
                            <input disabled type="text" value="{{ equipaje.comentario }}" class="form-control"
                                   id="comentario">
                        </div>
                    </form>
                {% endfor %}
            </div>
            <script>disableAll();</script>
            <div class="ln_solid"></div>
            <div class="form-group">
                <div class="col-md-6 col-md-offset-3">
                    <a href="../PendientesEntrega">
                        <button type="" class="btn btn-primary">Cancelar</button>
                    </a>
                    <a href="../PdfView/?id={{ custodio.id }}">
                        <button class="btn btn-dark">Ticket</button>
                    </a>
                    <button id="EditAgregarEquipaje" class="btn btn-dark" onclick="NuevoEquipaje()">Agregar equipaje
                    </button>
                    <button id="Editsend" onclick="EditarCustodioForm()" class="btn btn-success">Guardar</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}