{% extends "base_dash.html" %}
{% load static %}
{% block header %}
    <!-- ACA LOS JS -->
    <script src="{% static 'js/Rutina.js' %}"></script>
    <link href="{% static 'css/bootstrap-toggle.min.css' %}" rel="stylesheet">
    <script src="{% static 'js/bootstrap-toggle.min.js' %}"></script>
    <script>
        DisEnaUserEntrega('#id_ckUserEntrega');
        DisEnaUserRegistra('#id_ckUserRegistra');
        DisEnaRangosFechasIn('#id_ckRangosFechasIn');
        DisEnaRangosFechasOut('#id_ckRangosFechasOut');
        DisEnaEstado('#id_ckEstado');
        DisEnaExtraviado('#id_ckExtraviado');
        DisEnaZonas('#id_ckZonas');
    </script>

{% endblock %}

{% block content %}
    <div class="x_panel">
{% if messages %}
        {% for message in messages %}
            {% if message.tags %}
                <div class="alert alert-{{ message.tags }} alert-dismissable">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            {% endif %} <strong>{{ message }}</strong>
        </div>
        {% endfor %}

    {% endif %}
    <h1>Generar Informes <small>(Aplicar almenos 1 filtro)</small></h1>
    <div class="panel-body">
        <form class="form-horizontal form-label-left" name="filtrosInforme" method="POST" id="id_filtrosInforme">
            <div class="row">
            {% csrf_token %}
                <div class="col-lg-4">
                    <div class="panel panel-default">
                        <div class="panel-body">
                             <h2>Rango de fechas ingreso
                                       <small> <div class="checkbox ">
                                            <input id="id_ckRangosFechasIn" name="ckRangosFechasIn" onchange="DisEnaRangosFechasIn('#id_ckRangosFechasIn')" type="checkbox"
                                                   data-toggle="toggle" data-on="Filtrar"
                                                   data-off="" data-size="small">
                                        </div>
                                        </small>
                                    </h2>
                            <p></p><br>

                            <p></p>
                            <div class="input-daterange input-group" id="datepicker">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                <input type="text" class="input-sm form-control" name="fecha_desde_in" id="id_fecha_desde_in"/>
                                <span class="input-group-addon"> - </span>
                                <input type="text" class="input-sm form-control" name="fecha_hasta_in" id="id_fecha_hasta_in"/>
                                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                            </div>
                        </div>
                    </div>
                </div>

            <div class="col-lg-4">
                    <div class="panel panel-default">
                        <div class="panel-body">
                             <h2>Rango de fechas entrega
                                       <small> <div class="checkbox ">
                                            <input id="id_ckRangosFechasOut" name="ckRangosFechasOut" onchange="DisEnaRangosFechasOut('#id_ckRangosFechasOut')" type="checkbox"
                                                   data-toggle="toggle" data-on="Filtrar"
                                                   data-off="" data-size="small">
                                        </div>
                                        </small>
                                    </h2>
                            <p></p><br>

                            <p></p>
                            <div class="input-daterange input-group" id="datepicker">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                <input type="text" class="input-sm form-control" name="fecha_desde_out" id="id_fecha_desde_out"/>
                                <span class="input-group-addon"> - </span>
                                <input type="text" class="input-sm form-control" name="fecha_hasta_out" id="id_fecha_hasta_out"/>
                                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="panel panel-default">
                        <div class="panel-body">
                           <h2>Usuario que registro
                                       <small> <div class="checkbox ">
                                            <input id="id_ckUserRegistra" name="ckUserRegistra" onchange="DisEnaUserRegistra('#id_ckUserRegistra')" type="checkbox"
                                                   data-toggle="toggle" data-on="Filtrar"
                                                   data-off="" data-size="small">
                                        </div>
                                        </small>
                                    </h2>
                            <p/>
                            <p></p>
                            <div class="row">
                                <div class="col-sm-12">
                                    <select name="cboUsuarioRegistra" id="id_cboUsuarioRegistra" class="input-sm form-control">
                                          {% for usuario in usuariosEmpresa %}
                                             <option value="{{ usuario.username }}">{{ usuario.username }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
</div>
                <div class="row">
                <div class="col-lg-4">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <h2>Usuario que entrego
                                       <small> <div class="checkbox ">
                                            <input id="id_ckUserEntrega" name="ckUserEntrega" onchange="DisEnaUserEntrega('#id_ckUserEntrega')" type="checkbox"
                                                   data-toggle="toggle" data-on="Filtrar"
                                                   data-off="" data-size="small">
                                        </div>
                                        </small>
                                    </h2>

                            <p></p>
                            <div class="row">
                                <div class="col-sm-12">
                                    <select name="cboUsuarioEntrega" id="id_cboUsuarioEntrega" class="input-sm form-control">
                                        {% for usuario in usuariosEmpresa %}
                                             <option value="{{ usuario.username }}">{{ usuario.username }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <h2>Estado
                                       <small> <div class="checkbox ">
                                            <input id="id_ckEstado" name="ckEstado" onchange="DisEnaEstado('#id_ckEstado')" type="checkbox"
                                                   data-toggle="toggle" data-on="Filtrar"
                                                   data-off="" data-size="small">
                                        </div>
                                        </small>
                                    </h2>

                            <p></p>
                            <div class="row">
                                <div class="col-sm-12">
                                    <select name="cboEstado" id="id_cboEstado" class="input-sm form-control">
                                        <option value="0">Pendiente de entrega</option>
                                        <option value="1">Entregado</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                    <div class="col-lg-4">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <h2>Extraviado
                                       <small> <div class="checkbox ">
                                            <input id="id_ckExtraviado" name="ckExtraviado" onchange="DisEnaExtraviado('#id_ckExtraviado')" type="checkbox"
                                                   data-toggle="toggle" data-on="Filtrar"
                                                   data-off="" data-size="small">
                                        </div>
                                        </small>
                                    </h2>
                                <div class="col-sm-12">
                                    <div class="radio">
                                        <label><input  id="íd_rbExtraviado" type="radio" name="optExtraviado" value="1" checked> Si</label>
                                    </div>
                                    <div class="radio">
                                        <label><input id="íd_rbExtraviado" type="radio" name="optExtraviado" value="0"> No</label>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    </div>
        <div class="row">
            <div class="col-lg-4">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                    <h2>Zona de Almacenaje
                                       <small> <div class="checkbox">
                                            <input id="id_ckZonas" name="ckZonas" onchange="DisEnaZonas('#id_ckZonas')" type="checkbox"
                                                   data-toggle="toggle" data-on="Filtrar"
                                                   data-off="" data-size="small">
                                        </div>
                                        </small>
                                    </h2>
                                     <div class="row">
                                <div class="col-sm-12">
                                    <select id="id_cboZonas" name="cboZonas" class="input-sm form-control">
                                        {% for zona in zonasEmpresa %}
                                        <option value="{{ zona.id }}">{{ zona.zona_nombre }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>


                                </div>
                            </div>
                        </div>

        </div>
                <div class="form-group">
                    <div class="col-lg-7 col-md-offset-5">
                        <button type="submit" class="btn btn-dark">Generar</button>
                    </div>
                </div>
        </form>
    </div>
</div>
{% endblock %}



