{% extends "base_dash.html" %}
{% load static %}
{% block header %}
    <script src="{% static 'js/bootbox.min.js' %}"></script>
    <script src="{% static 'js/Rutina.js' %}"></script>
        <link href="{% static 'css/bootstrap-toggle.min.css' %}" rel="stylesheet">
    <script src="{% static 'js/bootstrap-toggle.min.js' %}"></script>
{% endblock %}
{% block content %}

    <div class="x_panel">
    <style>
            .results tr[visible='false'],
            .no-result {
                display: none;
            }

            .results tr[visible='true'] {
                display: table-row;
            }

            .counter {
                padding: 8px;
                color: #ccc;
            }
        </style>
        <div id="mensajes-ajax"></div>
        <div class="x_title">
            <h2>Ingresar nuevo custodio
                <small>(custodio)</small>
            </h2>
            <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li><a class="close-link"><i class="fa fa-close"></i></a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <span class="section">Pasajero</span>
         <p>Buscar pasajero por documento o agregarlo</p>
                    <br>
        <div class="form-group">
            <div class="col-md-6 col-md-offset-5">
                <button id="btnLector" type="button" onclick="lectorCodigos();" class="btn btn-dark"><span class="fa fa-barcode fa-1x"></span> Lector</button>
                <button id="btnLibera" type="button" onclick="liberarCampos();" class="btn btn-primary"> Liberar campos</button>
            </div>
        </div>
        <br><br>
                    <form id="pasajeroInfo" name="pasajeroInfo" class="form-horizontal form-label-left input_mask">

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Documento *</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input type="text" class="form-control" placeholder="Rut o Pasaporte" id="txtDocumento" name="txtDocumento">
                        </div>
                      </div>

                       <div class="item form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="cboTipoDcto">Tipo de Documento <span
                            class="required">*</span>
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <select id="cboTipoDcto" class="form-control">
                            {% for tipoDcto in tiposDocumentos %}
                                <option value="{{ tipoDcto.id }}">{{ tipoDcto.nombre }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                             <div class="item form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="cboSexo">Sexo <span
                            class="required">*</span>
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <select id="cboSexo" class="form-control">
                            {% for sexo in sexos %}
                                <option value="{{ sexo.id }}">{{ sexo.genero }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>


                      <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                        <input type="text" name="txtNombres" id="txtNombres" class="form-control has-feedback-left" placeholder="Nombres">
                        <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                      </div>

                      <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                        <input type="text" class="form-control"  name="txtApellidos" id="txtApellidos" placeholder="Apellidos">
                        <span class="fa fa-user form-control-feedback right" aria-hidden="true"></span>
                      </div>

                      <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                        <input type="email" class="form-control has-feedback-left" name="txtEmail" id="txtEmail" placeholder="Email">
                        <span class="fa fa-envelope form-control-feedback left" aria-hidden="true"></span>
                      </div>

                      <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                        <input type="text" class="form-control" name="txtTelefono" id="txtTelefono" placeholder="Telefono">
                        <span class="fa fa-phone form-control-feedback right" aria-hidden="true"></span>
                      </div>

                    </form>
        <br>
             <div class="ln_solid"></div>


            <form class="form-horizontal form-label-left" id="custodiaInfo">
                <span class="section">Informacion de Custodia</span>
             <p>Llenar los campos y agregar equipajes</a>
                </p>
                {% csrf_token %}
                <input type="hidden" id="idPasajero" name="idPasajero">
                <div class="item form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="txtFechaIn">Fecha Ingreso <span
                            class="required">*</span>
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <input type="text" id="txtFechaIn" name="txtFechaIn" required="required"
                               class="form-control col-md-7 col-xs-12">
                    </div>
                </div>
                <div class="item form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="txtComentario">Comentario <span
                            class="required"></span>
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <textarea id="txtComentario" name="textarea" class="form-control col-md-7 col-xs-12"></textarea>
                    </div>
                </div>

                <div class="item form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="cboTipo">Tipo Custodia <span
                            class="required">*</span>
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <select id="cboTipo" class="form-control">
                            {% for tipo in tiposCustodia %}
                                <option value="{{ tipo.id }}">{{ tipo.nombre }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <br>
                <div class="item form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="extravio">Extraviado <span
                            class="required"></span>
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <input data-toggle="toggle" data-on="Si" data-off="No" data-size="small" id="extravio" name="extravio" type="checkbox" class="">
                    </div>
                </div>
            </form>

            <span class="section">Agregar Equipaje</span>


            <div class="equipajes" id="equipajes">
                <form class="form-horizontal form-label-left" id="equipajesForm">
                    <div class="col-md-4 col-sm-6 col-xs-12 form-group ">
                        <label for="tipoEquipaje">Tipo</label>
                        <select name="tipoEquipaje" id="tipoEquipaje" class="form-control">
                            {% for tequipaje in tiposEquipaje %}
                                <option value="{{ tequipaje.id }}">{{ tequipaje.nombre }}
                                    - {{ tequipaje.tamano }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="col-md-2 col-sm-6 col-xs-12 form-group">
                        <label for="color">Color *</label>
                        <input type="text" class="form-control" id="color" placeholder="">
                    </div>

                    <div class="col-md-2 col-sm-6 col-xs-12 form-group ">
                        <label for="zonaEquipaje">Zona</label>
                        <select id="zonaEquipaje" class="form-control">
                            {% for zona in zonasEquipaje %}
                                <option value="{{ zona.id }}">{{ zona.zona_nombre }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="col-md-4 col-sm-6 col-xs-12 form-group">
                        <label for="comantario">Comentario</label>
                        <input type="text" class="form-control" id="comentario">
                    </div>
                </form>
            </div>


            <div class="ln_solid"></div>
            <div class="form-group">
                <div class="col-md-6 col-md-offset-3">
                    <button type="reset" onclick="cancelarCustodio()" class="btn btn-primary">Cancelar</button>
                    <button id="AgregarEquipaje" class="btn btn-dark" onclick="NuevoEquipaje()">Agregar equipaje</button>
                    <button id="send" onclick="EnviarForm()" class="btn btn-success">Enviar</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}