{% extends "base_dash.html" %}
{% load static %}
{% block header %}
    <script src="{% static 'js/bootbox.min.js' %}"></script>
    <script src="{% static 'js/Rutina.js' %}"></script>
    <link href="{% static 'css/bootstrap-toggle.min.css' %}" rel="stylesheet">
    <script src="{% static 'js/bootstrap-toggle.min.js' %}"></script>
{% endblock %}
{% block content %}
    {% if messages %}
        {% for message in messages %}
            {% if message.tags %}
                <div class="alert alert-{{ message.tags }} alert-dismissable">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            {% endif %} <strong>{{ message }}</strong>
        </div>
        {% endfor %}
    {% endif %}
ALERTAS

{{ test }}

{% endblock %}