{% extends "base_dash.html" %}
{% load static %}
{% block header %}
    <script src="{% static 'js/bootbox.min.js' %}"></script>
    <script src="{% static 'js/Rutina.js' %}"></script>
    <link href="{% static 'css/bootstrap-toggle.min.css' %}" rel="stylesheet">
    <script src="{% static 'js/bootstrap-toggle.min.js' %}"></script>
{% endblock %}
{% block content %}
    {% if messages %}
        {% for message in messages %}
            {% if message.tags %}
                <div class="alert alert-{{ message.tags }} alert-dismissable">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            {% endif %} <strong>{{ message }}</strong>
        </div>
        {% endfor %}
    {% endif %}
<button type="button" class="btn btn-primary " data-toggle="modal" data-target=".add-servicio-modal"><span
            class="glyphicon glyphicon-plus"></span> Agregar servicio
    </button>

        <div class="modal fade add-servicio-modal" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Agregar nuevo servicio</h4>
                </div>
                <div class="modal-body">
                    <h4>LLene los campos requeridos</h4>
                    <form class="form-horizontal form-label-left" method="post" id="id_addUserForm">
                        {% csrf_token %}
                        <div class="item form-group">
                            <label class="control-label col-md-4 col-sm-3 col-xs-12" for="id_name">Nombre:<span class="required">*</span>
                            </label>
                            <div class="col-md-5 col-sm-6 col-xs-12">
                                <input id="id_name" name="name" class="form-control col-md-7 col-xs-12"
                                       data-validate-length-range="6" data-validate-words="2" required="required"
                                       type="text">
                            </div>
                        </div>

                        <div class="item form-group">
                            <label class="control-label col-md-4 col-sm-3 col-xs-12" for="id_costo">Costo (aprox):<span
                                    class="required">*</span>
                            </label>
                            <div class="col-md-5 col-sm-6 col-xs-12">
                                <input id="id_costo" name="costo" class="form-control col-md-7 col-xs-12"
                                       data-validate-length-range="6" data-validate-words="2" required="required"
                                       type="text">
                            </div>
                        </div>
                        <div class="item form-group">
                            <input class="" id="id_porDefecto" name="porDefecto" type="checkbox">
                            <label title="Asina el costo aproximado como valor por defecto para el servicio (se puede modificar mas tarde)." class="control-label col-md-5 col-sm-3 col-xs-12" for="id_porDefecto">Valor por defecto? </label>
                        </div>

                        <div class="item form-group">
                            <label class="control-label col-md-4 col-sm-3 col-xs-12" for="id_last_name">Moneda:<span
                                    class="required">*</span>
                            </label>
                            <div class="col-md-5 col-sm-6 col-xs-12">
                                <select id="id_moneda" class="form-control col-md-7 col-xs-12" name="moneda">
                                </select>
                            </div>
                        </div>

                        <div class="item form-group">
                            <label class="control-label col-md-4 col-sm-3 col-xs-12" for="id_PrestadorNombre">Nombre del prestador:</label>
                            <div class="col-md-5 col-sm-6 col-xs-12">
                                <input class="form-control col-md-7 col-xs-12" id="id_PrestadorNombre" maxlength="50" name="PrestadorNombre" type="text">
                            </div>
                        </div>

                        <div class="item form-group">
                            <label class="control-label col-md-4 col-sm-3 col-xs-12" for="id_PrestadorFono">Fono del prestador:</label>
                            <div class="col-md-5 col-sm-6 col-xs-12">
                                <input class="form-control col-md-7 col-xs-12" id="id_PrestadorFono" maxlength="9" name="PrestadorFono" type="text">
                            </div>
                        </div>

                        <div class="item form-group">
                            <label class="control-label col-md-4 col-sm-3 col-xs-12" for="id_PrestadorEmail">Email prestador:</label>

                            <div class="col-md-5 col-sm-6 col-xs-12">
                                <input class="form-control col-md-7 col-xs-12" id="id_PrestadorEmail" maxlength="30" name="PrestadorEmail" type="text">
                            </div>
                        </div>

                       <div class="item form-group">
                               <label class="control-label col-md-4 col-sm-3 col-xs-12" for="id_PrestadorNroCuenta">Nro Cuenta Prestador:</label>
                            <div class="col-md-5 col-sm-6 col-xs-12">
                                <input class="form-control col-md-7 col-xs-12" id="id_PrestadorNroCuenta" maxlength="12" name="PrestadorNroCuenta" type="text">
                            </div>
                       </div>

                    </form>
                </div>


                <div class="modal-footer">
                    <button type="reset" form="id_addUserForm" class="btn btn-default" data-dismiss="modal">Cerrar
                    </button>
                    <button type="submit" form="id_addUserForm" class="btn btn-primary">Enviar</button>
                </div>

            </div>
        </div>
    </div>



    <div class="x_panel">
                  <div class="x_title">
                    <h2>Servicios disponibles<small>(gastos de servicios)</small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>

                  <div class="x_content">
                    <p>Editar o eliminar</p>
                    <div class="table-responsive">
                      <table class="table table-striped jambo_table bulk_action">
                        <thead>

                          <tr class="headings">

                            <th class="column-title">Nombre </th>
                            <th class="column-title">Capacidad</th>
                              <th class="column-title">Ocupados</th>
                            <th class="column-title">Accion </th>
                            </th>
                            <th class="bulk-actions" colspan="7">
                              <a class="antoo" style="color:#fff; font-weight:500;">Bulk Actions ( <span class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i></a>
                            </th>
                          </tr>

                        </thead>

                        <tbody>

                        {% for servicio in coleccionServicios %}
                          <tr class="even pointer">
                            <td class=" ">{{ servicio.nombre }}</td>
                            <td class=" ">{{ servicio.descripcion }}</td>
                             <td class=" ">{{ servicio.PrestadorNombre }}</td>
                            <td class=" "><form method="POST">
                                                {% csrf_token %}
                                                <input type="hidden" value="{{ servicio.id }}" name="iddelete">
                                                <button type="submit" class="btn btn-danger">Eliminar</button>
                                            </form>
                            </td>
                            </td>
                          </tr>
                        {% endfor %}
                        </tbody>
                      </table>
                    </div>


                  </div>
                </div>


{% endblock %}