{% extends "base_dash.html" %}
{% load static %}
{% block header %}
    <script src="{% static 'js/bootbox.min.js' %}"></script>
    <script src="{% static 'js/Rutina.js' %}"></script>
    <link href="{% static 'css/bootstrap-toggle.min.css' %}" rel="stylesheet">
    <script src="{% static 'js/bootstrap-toggle.min.js' %}"></script>
{% endblock %}
{% block content %}
    {% if messages %}
        {% for message in messages %}
            {% if message.tags %}
                <div class="alert alert-{{ message.tags }} alert-dismissable">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            {% endif %} <strong>{{ message }}</strong>
        </div>
        {% endfor %}
    {% endif %}

    {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
                <div class="alert alert-danger alert-dismissable">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
            <div class="alert alert-danger alert-dismissable">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endif %}

    <button type="button" class="btn btn-primary " data-toggle="modal" data-target=".add-user-modal"><span
            class="glyphicon glyphicon-plus"></span> Agregar Usuario
    </button>
    <div class="modal fade add-user-modal" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Agregar Usuario</h4>
                </div>
                <div class="modal-body">
                    <h4>LLene los campos requeridos</h4>

                    <form class="form-horizontal form-label-left" method="post" id="id_addUserForm">
                        {% csrf_token %}
                        <div class="item form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="id_username">Nombre de
                                usuario:<span class="required">*</span>
                            </label>
                            <div class="col-md-5 col-sm-6 col-xs-12">
                                <input id="id_username" name="username" class="form-control col-md-7 col-xs-12"
                                       data-validate-length-range="6" data-validate-words="2" required="required"
                                       type="text">
                            </div>
                        </div>

                        <div class="item form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="id_first_name">Nombre:<span
                                    class="required">*</span>
                            </label>
                            <div class="col-md-5 col-sm-6 col-xs-12">
                                <input id="id_first_name" name="first_name" class="form-control col-md-7 col-xs-12"
                                       data-validate-length-range="6" data-validate-words="2" required="required"
                                       type="text">
                            </div>
                        </div>

                        <div class="item form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="id_last_name">Apellido:<span
                                    class="required">*</span>
                            </label>
                            <div class="col-md-5 col-sm-6 col-xs-12">
                                <input id="id_last_name" name="last_name" class="form-control col-md-7 col-xs-12"
                                       data-validate-length-range="6" data-validate-words="2" required="required"
                                       type="text">
                            </div>
                        </div>

                        <div class="item form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="id_email">Email:<span
                                    class="required">*</span>
                            </label>
                            <div class="col-md-5 col-sm-6 col-xs-12">
                                <input id="id_email" name="email" class="form-control col-md-7 col-xs-12"
                                       data-validate-length-range="6" data-validate-words="2" required="required"
                                       type="text">
                            </div>
                        </div>

                        <div class="item form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="id_password1">Contraseña:<span
                                    class="required">*</span>
                            </label>
                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <input id="id_password1" name="password1" class="form-control col-md-7 col-xs-12"
                                       data-validate-length-range="6" data-validate-words="2" required="required"
                                       type="password">
                            </div>
                        </div>

                        <div class="item form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="id_password2">Contraseña
                                (confirmacion):<span class="required">*</span>
                            </label>
                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <input id="id_password2" name="password2" class="form-control col-md-7 col-xs-12"
                                       data-validate-length-range="6" data-validate-words="2" required="required"
                                       type="password">
                            </div>
                        </div>
                    </form>
                </div>


                <div class="modal-footer">
                    <button type="reset" form="id_addUserForm" class="btn btn-default" data-dismiss="modal">Cerrar
                    </button>
                    <button type="submit" form="id_addUserForm" class="btn btn-primary">Enviar</button>
                </div>

            </div>
        </div>
    </div>



    <div class="x_panel">
        <div class="x_title">
            <h2><i class="fa fa-users"></i> Administrador
                <small>agregar, bloquear, cambiar permisos</small>
            </h2>
            <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li class="dropdown">

                </li>
                <li><a class="close-link"><i class="fa fa-close"></i></a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">


            <div class="" role="tabpanel" data-example-id="togglable-tabs">
                <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#UsuariosActivos" id="home-tab" role="tab"
                                                              data-toggle="tab" aria-expanded="true">Usuarios
                        Activos</a>
                    </li>
                    <li role="presentation" class=""><a href="#UsuariosDesactivados" role="tab" id="profile-tab2"
                                                        data-toggle="tab" aria-expanded="false">Usuarios
                        Desactivados</a>
                    </li>
                    <li role="presentation" class=""><a href="#DatosEmpresa" role="tab" id="profile-tab2"
                                                        data-toggle="tab" aria-expanded="false">Datos de la empresa</a>
                    </li>

                </ul>
                <div id="myTabContent" class="tab-content">
                    <div role="tabpanel" class="tab-pane fade active in" id="UsuariosActivos"
                         aria-labelledby="home-tab">

                        <div class="panel-body">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Nombre de usuario</th>
                                    <th>Nombre completo</th>
                                    <th>Email</th>
                                    <th>Fecha creacion</th>
                                    <th>Ultimo inicio</th>
                                    <th>Accion</th>
                                </tr>
                                </thead>
                                <tbody>

                                {% for usuario in Usuarios %}
                                    <form id="{{ usuario.id }}-form" method="post">{% csrf_token %}<input type="hidden"
                                                                                                          name="iddel"
                                                                                                          id="iddel"
                                                                                                          value="{{ usuario.id }}">
                                    </form>
                                    <tr>
                                        <th scope="row">{{ usuario.id }}</th>
                                        <td>{{ usuario.username }}</td>
                                        <td>{{ usuario.first_name|add:' ' |add:usuario.last_name }}</td>
                                        <td>{{ usuario.email }}</td>
                                        <td>{{ usuario.date_joined }}</td>
                                        <td>{{ usuario.last_login }}</td>

                                        <td>

                                            <button class="btn btn-dark btn-xs"
                                                    onclick="abrirVentana('PdfView/?id={{ custodio.id }}')">Permisos
                                            </button>

                                            <button form="{{ usuario.id }}-form" type="button"
                                                    onclick="confirmarDel(this.form)" class="btn btn-danger btn-xs">
                                                Desactivar
                                            </button>

                                        </td>


                                    </tr>

                                {% endfor %}


                                </tbody>
                            </table>
                        </div>

                    </div>

                    <div role="tabpanel" class="tab-pane fade" id="UsuariosDesactivados" aria-labelledby="profile-tab">
                        <p>xxFood truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid.
                            Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan
                            four loko farm-to-table craft beer twee. Qui photo
                            booth letterpress, commodo enim craft beer mlkshk </p>
                    </div>
                    <!-- DATOS DE LA EMPRESA -->

                    <div role="tabpanel" class="tab-pane fade" id="DatosEmpresa" aria-labelledby="profile-tab">

                        <form class="form-horizontal form-label-left" method="post">
                            {% csrf_token %}

                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Nombre
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input disabled id="id_nombre" name="nombre" value="{{ datosEmpresa.nombre }}" class="form-control col-md-7 col-xs-12"
                                           data-validate-length-range="6" data-validate-words="2"
                                           required="required" type="text">
                                </div>
                            </div>

                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="image">Imagen de empresa
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input disabled id="id_image" name="image" class="form-control col-md-7 col-xs-12"
                                           data-validate-length-range="6" data-validate-words="2" value="{{ datosEmpresa.image }}"
                                           required="required" type="file">
                                </div>
                            </div>

                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="razonsocial">Razon Social
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input disabled id="id_razonsocial" name="razonsocial" value="{{ datosEmpresa.razonSocial }}" class="form-control col-md-7 col-xs-12"
                                           data-validate-length-range="6" data-validate-words="2" type="text">
                                </div>
                            </div>


                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="rut">Rut
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input disabled id="id_rut" name="rut" value="{{ datosEmpresa.rut }}" class="form-control col-md-7 col-xs-12"
                                           data-validate-length-range="6" data-validate-words="2" type="text">
                                </div>
                            </div>

                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="abreviado">Abreviado
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input disabled id="id_abreviado" name="abreviado" value="{{ datosEmpresa.abreviado }}" class="form-control col-md-7 col-xs-12"
                                           data-validate-length-range="6" data-validate-words="2" type="text">
                                </div>
                            </div>


                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="direccion">Direccion
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input disabled value="{{ datosEmpresa.direccion }}" id="id_direccion" name="direccion" class="form-control col-md-7 col-xs-12"
                                           data-validate-length-range="6" data-validate-words="2" type="text">
                                </div>
                            </div>

                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="contacto_tecnico">Contacto tecnico
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input disabled id="id_contacto_tecnico" value="{{ datosEmpresa.contactoTecnico }}" name="contacto_tecnico" class="form-control col-md-7 col-xs-12"
                                           data-validate-length-range="6" data-validate-words="2" type="text">
                                </div>
                            </div>

                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="email_contacto_tecnico">Email Tecnico
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input disabled id="id_email_contacto_tecnico" value="{{ datosEmpresa.emailContactoTecnico }}" name="email_contacto_tecnico" class="form-control col-md-7 col-xs-12"
                                           data-validate-length-range="6" data-validate-words="2" type="text">
                                </div>
                            </div>

                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="contacto_comercial">Contacto comercial
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input disabled id="id_contacto_comercial" name="contacto_comercial" value="{{ datosEmpresa.contactoComercial }}" class="form-control col-md-7 col-xs-12"
                                           data-validate-length-range="6" data-validate-words="2" type="text">
                                </div>
                            </div>

                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="email_contacto_comercial">Email comercial
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input disabled id="id_email_contacto_comercial" value="{{ datosEmpresa.emailContactoComercial}}" name="email_contacto_comercial" class="form-control col-md-7 col-xs-12"
                                           data-validate-length-range="6" data-validate-words="2" type="text">
                                </div>
                            </div>


                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="fono">Fono
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input disabled value="{{ datosEmpresa.fono }}" id="id_fono" name="fono" class="form-control col-md-7 col-xs-12"
                                           data-validate-length-range="6" data-validate-words="2" type="text">
                                </div>
                            </div>

                            <div class="ln_solid"></div>
                            <div class="col-md-6 col-md-offset-5">
                                <button disabled id="send" type="submit" class="btn btn-success">Guardar</button>
                            </div>

                        </form>

                    </div>
                </div>
            </div>

        </div>
    </div>





{% endblock %}