<!DOCTYPE html>
<html lang="es">
{% load static %}
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <link rel="shortcut icon" href="{%  static 'favicon.ico' %}">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% block title %}<title>Dashboard</title>{% endblock %}

    <!-- Bootstrap -->
    <link href="{% static 'vendors/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="{% static 'vendors/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
    <!-- NProgress -->
    <link href="{% static 'vendors/nprogress/nprogress.css' %}" rel="stylesheet">
    <!-- iCheck -->
    <link href="{% static 'vendors/iCheck/skins/flat/green.css' %}" rel="stylesheet">

    <!-- bootstrap-progressbar -->
    <link href="{% static 'vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css' %}" rel="stylesheet">
    <!-- JQVMap -->
    <link href="{% static 'vendors/jqvmap/dist/jqvmap.min.css' %}" rel="stylesheet"/>
    <!-- bootstrap-daterangepicker -->
    <link href="{% static 'vendors/bootstrap-daterangepicker/daterangepicker.css' %}" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="{% static 'build/css/custom.min.css' %}" rel="stylesheet">
</head>

<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <div class="col-md-3 left_col">
            <div class="left_col scroll-view">
                <div class="navbar nav_title" style="border: 0;">
                    <a href="../index" class="site_title"><i class="fa fa-bed"></i>
                        <span>{{ request.session.empresa }}</span></a>
                </div>

                <div class="clearfix"></div>

                <!-- menu profile quick info -->
                <div class="profile clearfix">
                    <div class="profile_pic">
                        <img src="../{{ request.session.imageurl }}" alt="..." class="img-circle profile_img">
                    </div>
                    <div class="profile_info">
                        <span>Bienvenido,</span>
                        <h2>{{ request.session.username }}</h2>
                    </div>
                </div>
                <!-- /menu profile quick info -->

                <br/>

                <!-- sidebar menu -->
                <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                    <div class="menu_section">
                        <h3>Modulos</h3>
                        <ul class="nav side-menu">
                            <li><a><i class="fa fa-suitcase"></i> Custodio <span class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu">
                                    <li><a href="../PendientesEntrega">Pendientes de entrega</a></li>
                                    <li><a href="../Custodio/Ingresar">Ingresar</a></li>
                                    <li><a href="../Extravios">Extravio</a></li>
                                    <li><a href="../Historico">Historico</a></li>
                                    <li><a href="../Custodio/Informes">Informes</a></li>
                                </ul>
                            </li>
                            <li><a><i class="fa fa-edit"></i>Mantenciones<span class="label label-success pull-right">Pronto!</span></a>
                                <!--- ULs -->
                            </li>
                            <li><a><i class="fa fa-desktop"></i>Gastos de servicios<span
                                    class="label label-success pull-right">Pronto!</span></a>
                                <!--- ULs -->
                            </li>
                        </ul>
                    </div>

                    {%  if perms.custodio.add_zona or  perms.custodio.add_equipajetipo or perms.custodio.add_custodiatipo %}
                        <div class="menu_section">
                            <h3>Parametros</h3>
                            <ul class="nav side-menu">
                                <li><a><i class="fa fa-cogs"></i>Custodio<span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        {% if  perms.custodio.add_zona %}
                                        <li><a href="../Zona">Zonas de almacenaje</a></li>
                                        {% endif %}
                                        {% if  perms.custodio.add_equipajetipo %}
                                        <li><a href="../TiposEquipajes">Tipos de equipaje</a></li>
                                          {% endif %}
                                     {% if  perms.custodio.add_custodiatipo %}
                                        <li><a href="../TiposCustodia">Tipos de custodia</a></li>
                                         {% endif %}
                                    </ul>
                                    <li><a><i class="fa fa-cogs"></i>Gastos de servicios<span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        {% if  perms.custodio.add_servicio %}
                                        <li><a href="../Gastos_servicios/servicios.html">Servicios</a></li>
                                        {% endif %}
                                        {% if  perms.custodio.add_tipo_consumo %}
                                        <li><a href="../Gastos_servicios/tipos_gastos.html">Tipos de gastos</a></li>
                                          {% endif %}
                                     {% if  perms.custodio.add_parametro %}
                                        <li><a href="../Gastos_servicios/configurar_alertas.html">Configurar alertas</a></li>
                                         {% endif %}
                                     {% if  perms.custodio.add_moneda %}
                                        <li><a href="../Gastos_servicios/monedas.html">Monedas</a></li>
                                         {% endif %}
                                    </ul>

                                </li>
                            </ul>
                        </div>

                    {% endif %}
                </div>
                <!-- /sidebar menu -->

                <!-- /menu footer buttons -->
                <div class="sidebar-footer hidden-small">
                    <a data-toggle="tooltip" data-placement="top" title="Settings">
                        <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                    </a>
                    <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                        <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
                    </a>
                    <a data-toggle="tooltip" data-placement="top" title="Lock">
                        <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
                    </a>
                    <a data-toggle="tooltip" data-placement="top" title="Logout" href="../logout">
                        <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                    </a>
                </div>
                <!-- /menu footer buttons -->
            </div>
        </div>

        <!-- top navigation -->
        <div class="top_nav">
            <div class="nav_menu">
                <nav>
                    <div class="nav toggle">
                        <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                    </div>

                    <ul class="nav navbar-nav navbar-right">
                        <li class="">
                            <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown"
                               aria-expanded="false">
                                <i class="fa fa-user"></i>&nbsp;{{ request.session.username }}
                                <span class="fa fa-angle-down"></span>
                            </a>
                            <ul class="dropdown-menu dropdown-usermenu pull-right">
                                <li>
                                    <a href="javascript:;">
                                        <span><i class="fa fa-wrench pull-right"></i>Ajustes de cuenta</span>
                                    </a>
                                </li>
                            <!-- ACA COMPRUEBA SI ES ADMIN DE USUARIOS -->

                                {% if perms.auth.add_user %}
                                <li>
                                    <a href="../AdminUsuarios">
                                        <span><i class="fa fa-users pull-right"></i>Administrador</span>
                                    </a>
                                </li>
                                {% endif %}
                                <li><a href="../logout"><i class="fa fa-sign-out pull-right"></i>
                                Salir</a></li>
                            </ul>
                        </li>


                    </ul>
                </nav>
            </div>
        </div>
        <!-- /top navigation -->

        <!-- page content -->

        <div class="right_col" role="main" style="min-height: 923px;">
            {% block content %}{% endblock %}
            <!-- /page content -->
        </div>
        <!-- footer content -->
        <footer>
            <div class="pull-right">
                Administracion de servicios <a href="">GestApart</a>
            </div>
            <div class="clearfix"></div>
        </footer>
        <!-- /footer content -->
    </div>
</div>

<!-- jQuery -->
<script src="{% static 'vendors/jquery/dist/jquery.min.js' %}"></script>
<!-- Bootstrap -->
<script src="{% static 'vendors/bootstrap/dist/js/bootstrap.min.js' %}"></script>
<!-- FastClick -->
<script src="{% static 'vendors/fastclick/lib/fastclick.js' %}"></script>
<!-- NProgress -->
<script src="{% static 'vendors/nprogress/nprogress.js' %}"></script>
<!-- Chart.js -->
<script src="{% static 'vendors/Chart.js/dist/Chart.min.js' %}"></script>
<!-- gauge.js -->
<script src="{% static 'vendors/gauge.js/dist/gauge.min.js' %}"></script>
<!-- bootstrap-progressbar -->
<script src="{% static 'vendors/bootstrap-progressbar/bootstrap-progressbar.min.js' %}"></script>
<!-- iCheck -->
<script src="{% static 'vendors/iCheck/icheck.min.js' %}"></script>
<!-- Skycons -->
<script src="{% static 'vendors/skycons/skycons.js' %}"></script>
<!-- Flot -->
<script src="{% static 'vendors/Flot/jquery.flot.js' %}"></script>
<script src="{% static 'vendors/Flot/jquery.flot.pie.js' %}"></script>
<script src="{% static 'vendors/Flot/jquery.flot.time.js' %}"></script>
<script src="{% static 'vendors/Flot/jquery.flot.stack.js' %}"></script>
<script src="{% static 'vendors/Flot/jquery.flot.resize.js' %}"></script>
<!-- Flot plugins -->
<script src="{% static 'vendors/flot.orderbars/js/jquery.flot.orderBars.js' %}"></script>
<script src="{% static 'vendors/flot-spline/js/jquery.flot.spline.min.js' %}"></script>
<script src="{% static 'vendors/flot.curvedlines/curvedLines.js' %}"></script>
<!-- DateJS -->
<script src="{% static 'vendors/DateJS/build/date.js' %}"></script>
<!-- JQVMap -->
<script src="{% static 'vendors/jqvmap/dist/jquery.vmap.js' %}"></script>
<script src="{% static 'vendors/jqvmap/dist/maps/jquery.vmap.world.js' %}"></script>
<script src="{% static 'vendors/jqvmap/examples/js/jquery.vmap.sampledata.js' %}"></script>
<!-- bootstrap-daterangepicker -->
<script src="{% static 'vendors/moment/min/moment.min.js' %}"></script>
<script src="{% static 'vendors/bootstrap-daterangepicker/daterangepicker.js' %}"></script>
{% block header %} {% endblock %}
<!-- Custom Theme Scripts -->
<script src="{% static 'build/js/custom.min.js' %}"></script>
<script type="text/javascript">

    $(document).ready(function () {
        $("#txtFechaIn").daterangepicker({
            singleDatePicker: true,
            singleClasses: "picker_2",
            timePicker24Hour: true,
            locale: {
                format: 'DD/MM/YYYY HH:mm'
            },
            timePicker: true
        })
    });

</script>
{% block footer %} {% endblock %}
</body>
</html>