
{% extends "base_dash.html" %}

{% block content %}
<div class="row">


            <div class="col-md-4 col-sm-4 col-xs-12">
              <div class="x_panel tile fixed_height_320">
                <div class="x_title">
                  <h2>Custodio</h2>
                  <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                  </ul>
                  <div class="clearfix"></div>
                </div>
                <div class="x_content">
                          <h2 class="line_30">Resumen general</h2>

                          <table class="countries_list">
                            <tbody>
                              <tr>
                                <td>Pendiente de entrega</td>
                                <td class="fs15 fw700 text-right">{{ pendientes_entrega }}</td>
                              </tr>
                              <tr>
                                <td>Entregados Hoy</td>
                                <td class="fs15 fw700 text-right">{{ entregadosHoy }}</td>
                              </tr>
                              <tr>
                                <td>Ingresados Hoy</td>
                                <td class="fs15 fw700 text-right">{{ ingresadosHoy }}</td>
                              </tr>
                              <tr>
                                <td>Extraviados</td>
                                <td class="fs15 fw700 text-right">{{ extraviados }}</td>
                              </tr>
                              <tr>
                                <td>Historico Mensual</td>
                                <td class="fs15 fw700 text-right">{{ historicoTotal }}</td>
                              </tr>
                            </tbody>
                          </table>

                </div>
              </div>
            </div>

            <div class="col-md-4 col-sm-4 col-xs-12">
              <div class="x_panel tile fixed_height_320 overflow_hidden">
                <div class="x_title">
                  <h2>Gastos de servicios</h2>
                  <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                      <ul class="dropdown-menu" role="menu">
                        <li><a href="#">accion 1</a>
                        </li>
                        <li><a href="#">accion 2</a>
                        </li>
                      </ul>
                    </li>
                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                  </ul>
                  <div class="clearfix"></div>
                </div>
                <div class="x_content">
                  <table class="" style="width:100%">
                    <tbody><tr>
                      <th style="width:37%;">
                        <p>Top 5 gastos</p>
                      </th>
                      <th>
                        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                          <p class="">Servicio</p>
                        </div>
                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                          <p class="">Gasto</p>
                        </div>
                      </th>
                    </tr>
                    <tr>
                      <td><iframe class="chartjs-hidden-iframe" style="width: 100%; display: block; border: 0px; height: 0px; margin: 0px; position: absolute; left: 0px; right: 0px; top: 0px; bottom: 0px;"></iframe>
                        <canvas class="canvasDoughnut" height="140" width="140" style="margin: 15px 10px 10px 0px; width: 140px; height: 140px;"></canvas>
                      </td>
                      <td>
                        <table class="tile_info">
                          <tbody><tr>
                            <td>
                              <p><i class="fa fa-square blue"></i>VTR SA </p>
                            </td>
                            <td>30%</td>
                          </tr>
                          <tr>
                            <td>
                              <p><i class="fa fa-square green"></i>Luz </p>
                            </td>
                            <td>10%</td>
                          </tr>
                          <tr>
                            <td>
                              <p><i class="fa fa-square purple"></i>Agua </p>
                            </td>
                            <td>20%</td>
                          </tr>
                          <tr>
                            <td title="gastos comunes">
                              <p><i class="fa fa-square aero"></i>Gastos Comunes</p>
                            </td>
                            <td>15%</td>
                          </tr>
                          <tr>
                            <td>
                              <p><i class="fa fa-square red"></i>Otros </p>
                            </td>
                            <td>30%</td>
                          </tr>
                        </tbody></table>
                      </td>
                    </tr>
                  </tbody></table>
                </div>
              </div>
            </div>


            <div class="col-md-4 col-sm-4 col-xs-12">
              <div class="x_panel tile fixed_height_320">
                <div class="x_title">
                  <h2>Mantenciones</h2>
                  <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                      <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Settings 1</a>
                        </li>
                        <li><a href="#">Settings 2</a>
                        </li>
                      </ul>
                    </li>
                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                  </ul>
                  <div class="clearfix"></div>
                </div>
                <div class="x_content">
                  <div class="dashboard-widget-content">
                    <ul class="quick-list">
                      <li><i class="fa fa-calendar-o"></i><a href="#">--</a>
                      </li>
                      <li><i class="fa fa-bars"></i><a href="#">--</a>
                      </li>
                      <li><i class="fa fa-bar-chart"></i><a href="#">--</a> </li>
                      <li><i class="fa fa-line-chart"></i><a href="#">--</a>
                      </li>
                      <li><i class="fa fa-bar-chart"></i><a href="#">--</a> </li>
                      <li><i class="fa fa-line-chart"></i><a href="#">--</a>
                      </li>
                      <li><i class="fa fa-area-chart"></i><a href="#">--</a>
                      </li>
                    </ul>

                    <div class="sidebar-widget">
                        <h4>Mantencion completa</h4>
                        <canvas width="150" height="80" id="chart_gauge_01" class="" style="width: 160px; height: 100px;"></canvas>
                        <div class="goal-wrapper">
                          <span id="gauge-text" class="gauge-value pull-left">55</span>
                          <span class="gauge-value pull-left">%</span>
                          <span id="goal-text" class="goal-value pull-right">100%</span>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>


{% endblock %}

