{% load static %}

<!DOCTYPE html>
<html lang="es">
  <head>
    <link rel="shortcut icon" href="{%  static 'favicon.ico' %}">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Login - GestApart</title>

    <!-- Bootstrap -->
    <link href="{% static 'vendors/bootstrap/dist/css/bootstrap.min.css'%}" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="{% static 'vendors/font-awesome/css/font-awesome.min.css'%}" rel="stylesheet">
    <!-- NProgress -->
    <link href="{% static 'vendors/nprogress/nprogress.css'%}" rel="stylesheet">
    <!-- Animate.css -->
    <link href="{% static 'vendors/animate.css/animate.min.css'%}" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="{% static 'build/css/custom.min.css'%}" rel="stylesheet">
  </head>

  <body class="login">
    <div>
      <a class="hiddenanchor" id="signup"></a>
      <a class="hiddenanchor" id="signin"></a>

      <div class="login_wrapper">
        <div class="animate form login_form">
          <section class="login_content">
            <form method="post">
              <h1>Gest-Apart</h1>
              <div>
                  {% csrf_token %}
                <input type="text" class="form-control" placeholder="username" required="" name="username"/>
              </div>
              <div>
                <input type="password" class="form-control" placeholder="Password" name="password" required="" />
              </div>
              <div>
                  <button type="submit" value="ingreso" class="btn btn-default submit">Entrar</button>
              </div>

              <div class="clearfix">
                              <h3>
                    <small style='color: #c12e2a'>{% if form.errors %}
                            {% for key,value in form.errors.items %}
                              <p>{{ value|escape }}</p>
                            {% endfor %}
                        {% endif %}</small>
            </h3>
              </div>

              <div class="separator">


                <div class="clearfix"></div>
                <br />

                <div>
                  <h1><i class="fa fa-bed"></i> Gestion de ApartHotel</h1>
                  <p>©2017 All Rights Reserved. VPLUS LTDA.</p>
                </div>
              </div>
            </form>
          </section>
        </div>


      </div>
    </div>
  </body>
</html>
