{% extends "base_dash.html" %}
{% load static %}
{% block header %}
    <script src="{% static 'js/bootbox.min.js' %}"></script>
    <script src="{% static 'js/Rutina.js' %}" type="text/javascript"></script>
{% endblock %}
{% block content %}
    <div class="x_panel">
        <style>
            .results tr[visible='false'],
            .no-result {
                display: none;
            }

            .results tr[visible='true'] {
                display: table-row;
            }

            .counter {
                padding: 8px;
                color: #ccc;
            }
        </style>
    {% if messages %}
        {% for message in messages %}
            {% if message.tags %}
                <div class="alert alert-{{ message.tags }} alert-dismissable">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            {% endif %} <strong>{{ message }}</strong>
        </div>
        {% endfor %}

    {% endif %}
        <div class="x_title">

            <h2>Custodios pendientes de entrega
                <small>(custodio)</small>
            </h2>
            <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i
                            class="fa fa-wrench"></i></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Settings 1</a>
                        </li>
                        <li><a href="#">Settings 2</a>
                        </li>
                    </ul>
                </li>
                <li><a class="close-link"><i class="fa fa-close"></i></a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content" style="display: block;">
        <div class="table-responsive">
            <div class="form-group pull-right">
                <input type="text" class="search form-control" placeholder="Buscar codigo, nombre, etc">
            </div>
            <span class="counter pull-right"></span>
            <table class="table table-striped results">
                <thead>
                <tr>
                    <th align="center">Codigo</th>
                    <th align="center">Pasajero</th>
                    <th align="center">Equipajes</th>
                    <th align="center">Fecha Ingreso</th>
                    <th align="center">Tipo</th>
                    <th align="center">usuario registra</th>
                    <th align="center">Accion</th>
                </tr>
                <tr class="warning no-result">
                    <td colspan="7"><i class="fa fa-warning"></i> No hay resultados</td>
                </tr>
                </thead>
                <tbody>
                {% if pendientesEntrega %}
                {% for custodio in pendientesEntrega %}
                    <form id="{{ custodio.id }}-form" method="post">{% csrf_token %}<input type="hidden" name="iddel" id="iddel" value="{{ custodio.id }}"></form>
                    <tr>
                        <th scope="row">{{ custodio.codigo_barra }}</th>
                        <td align="center">{{ custodio.pasajero.fullname }}</td>
                        <td align="center">{{ custodio.equipaje_set.count }}</td>
                        <td align="center">{{ custodio.fecha_ingreso }}</td>
                        <td align="center">{{ custodio.custodia_tipo_id.nombre }}</td>
                        <td align="center">{{ custodio.usuario_registra }}</td>
                        <td>
                            <a href="Custodio/Custodio/?id={{ custodio.id }}">
                                <button class="btn btn-success btn-xs"><span class="glyphicon glyphicon-pencil"></span> | <span class="glyphicon glyphicon-eye-open"></span></button>
                            </a>

                                <button class="btn btn-dark btn-xs" onclick="abrirVentana('PdfView/?id={{ custodio.id }}')">Ticket</button>

                            <button form="{{ custodio.id }}-form" type="button" onclick="confirmarDel(this.form)" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-trash"></span>
                                </button>
                        </td>
                    </tr>
                {% endfor %}
                {% else %}
                    <tr><th style="text-align: center" align="center" colspan="7"> No hay pendientes de entrega.</th></tr>

                {% endif %}
                </tbody>
            </table>
        </div>
        </div>
    </div>
{% endblock %}