{% extends "base_dash.html" %}
{% block content %}
    <div class="x_panel">
        <div class="x_title">
            <h2>Agregar Tipos de Custodia
                <small>(custodio)</small>
            </h2>

            <ul class="nav navbar-right panel_toolbox">
                <!--- dropdown de ventana -->
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <form class="form-horizontal form-label-left" method="post">
                {% csrf_token %}
                <div class="item form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Nombre <span
                            class="required">*</span>
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <input id="id_nombre" name="nombre" class="form-control col-md-7 col-xs-12"
                               data-validate-length-range="6" data-validate-words="2" placeholder="Check In"
                               required="required" type="text">
                    </div>
                </div>

                <div class="item form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Descripcion <span
                            class="required">*</span>
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <input id="id_descripcion" class="form-control col-md-7 col-xs-12"
                               data-validate-length-range="6" data-validate-words="2" name="descripcion"
                               required="required" type="text" placeholder="ej. Pasajero espera entrega de llaves">
                    </div>
                </div>
                <div class="ln_solid"></div>
                <div class="col-md-6 col-md-offset-5">
                    <button id="send" type="submit" class="btn btn-success">Agregar</button>
                </div>

            </form>
        </div>
    </div>

    <!--- TABLA --->
    {% if messages %}
        {% for message in messages %}
            {% if message.tags %}
                <div class="alert alert-{{ message.tags }} alert-dismissable">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            {% endif %} <strong>{{ message }}</strong>
        </div>
        {% endfor %}

    {% endif %}
    <div class="x_panel">
        <div class="x_title">
            <h2>Tipos de Custodia
                <small>(custodio)</small>
            </h2>
            <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>

        <div class="x_content">
            <p>Tipos disponibles</p>
            <div class="table-responsive">
                <table class="table table-striped jambo_table bulk_action">
                    <thead>

                    <tr class="headings">

                        <th class="column-title">Nombre Tipo</th>
                        <th class="column-title">Descripcion</th>
                        <th class="column-title">Accion</th>
                        </th>
                        <th class="bulk-actions" colspan="7">
                            <a class="antoo" style="color:#fff; font-weight:500;">Bulk Actions ( <span
                                    class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i></a>
                        </th>
                    </tr>

                    </thead>

                    <tbody>

                    {% for tipos in TiposCustodia %}
                        <tr class="even pointer">
                            <td class=" ">{{ tipos.nombre }}</td>
                            <td class=" ">{{ tipos.descripcion }}</td>
                            <td class=" ">
                                <form method="POST">
                                    {% csrf_token %}
                                    <input type="hidden" value="{{ tipos.id }}" name="iddelete">
                                    <button type="submit" class="btn btn-danger">Eliminar</button>
                                </form>
                            </td>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}